/*************************************

*** Variables

**************************************/

$green: #43CEA2;
$darkgreen: #185A9D;
$red: #DC2430;
$redlila: #7B4397;
$lila: #9D50BB;
$darklila: #4568DC;

$color1: #0f7687;

$colorDark: rgb(52, 53, 64);
$colorGray: rgb(102, 102, 102);
$colorDarkLight: rgb(71, 74, 89);
$colorBright: #ffffff;

$font_bigger: 36px;
$font_big: 32px;
$font1: 28px;
$font2: 24px;
$font3: 20px;
$font4: 16px;
$font5: 14px;
$font6: 12px;
$font7: 10px;
